* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.7rem;
}

header {
  padding: 1rem 0 2rem;
  text-align: center;
}

#game-board {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.cell {
  border: solid 1px black;
  background-color: white;
}